#header {
    background-image: url(../img/bg.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    background-position: center center;
    color: white;

}
.navbar-light .navbar-brand {
    color: white;
    z-index: 999999999999999;
    font-weight: 800;
}
.navbar {
    background-color: rgb(120, 61, 11);
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 18px;
    z-index: 9999999999999999999;
}
.navbar ul li a:hover {
    text-decoration: underline; 
}

.navbar-light .navbar-nav .active>.nav-link {
    color: white;
    z-index: 9999999999999999999;
}
h1 {
	font-size: 80px;
    font-weight: 800; 
    margin-top: 220px;
} 

.title {
    z-index: 999999999999 !important;
    color: white;
    text-align: center;
}
.img-fluid {
    height: 350px;
} 
.fas {
    color: white;
}
.fas:hover {
    text-decoration: none;
    color: rgb(255, 167, 85);
}